.services-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.services-section {
  background-color: #9dbdbc;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 71px 60px;
}
@media (max-width: 991px) {
  .services-section {
    max-width: 100%;
    padding: 0 20px;
  }
}
.services-content {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  max-width: 1128px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .services-content {
    max-width: 100%;
  }
}
.services-title {
  color: #000;
  text-align: justify;
  font: 400 40px CooperLtBT-Bold, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .services-title {
    max-width: 100%;
  }
}
.services-grid {
  margin-top: 54px;
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .services-grid {
    max-width: 100%;
    margin-top: 40px;
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .service-card {
    width: 100%;
  }
}
.service-card-content {
  border-radius: 8px;
  background-color: #fdfdfd;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 22px 48px;
}
@media (max-width: 991px) {
  .service-card-content {
    max-width: 100%;
    margin-top: 24px;
    padding: 0 20px;
  }
}
.service-card-image-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 280px;
  align-items: center;
  justify-content: center;
  padding: 80px 60px;
}
@media (max-width: 991px) {
  .service-card-image-wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
}
.service-card-background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.service-card-icon {
  aspect-ratio: 1.02;
  object-fit: contain;
  object-position: center;
  width: 122px;
  max-width: 100%;
}
.service-card-image {
  aspect-ratio: 1.64;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .service-card-image {
    max-width: 100%;
  }
}
.service-card-title {
  color: #000;
  text-align: justify;
  margin-top: 23px;
  font: 400 28px CooperMdBT-Regular, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .service-card-title {
    max-width: 100%;
  }
}
.service-card-description {
  color: #000;
  text-align: justify;
  margin-top: 21px;
  font: 300 16px/22px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .service-card-description {
    max-width: 100%;
  }
}
.service-card-button {
  border-radius: 16px;
  background-color: #cfb7c1;
  align-self: center;
  margin-top: 37px;
  color: #000;
  text-align: center;
  justify-content: center;
  padding: 14px 55px;
  font: 700 18px/150% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
}
@media (max-width: 991px) {
  .service-card-button {
    padding: 0 20px;
  }
}

.instagram-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.instagram-title {
  color: #000;
  text-align: justify;
  margin: 51px 0 0 137px;
  font: 400 40px CooperLtBT-Bold, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .instagram-title {
    margin: 40px 0 0 10px;
  }
}
.instagram-images {
  background-color: #fff;
  display: flex;
  margin-top: 27px;
  width: 100%;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 19px 52px;
}
@media (max-width: 991px) {
  .instagram-images {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
.instagram-image-1,
.instagram-image-3 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 73px;
  fill: #ceb7c1;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
  align-self: stretch;
  margin: auto 0;
}
.instagram-image-2 {
  aspect-ratio: 4.35;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
@media (max-width: 991px) {
  .instagram-image-2 {
    max-width: 100%;
  }
}

